tensorflow==2.20.0
flask==3.0.0
numpy==2.1.0
pandas==2.2.3
scikit-learn==1.6.1
matplotlib==3.10.1
seaborn==0.13.2
pillow==11.1.0
opencv-python==4.10.0.84
# keras==3.1.1  <-- Remove or comment this line
protobuf==5.29.3